

.button-share-twitter {
    background-image: -webkit-image-set( url(toolbar_res/share_twitter.png) 1x, url(toolbar_res/share_twitter@2x.png) 2x);
}
.button-share-twitter:hover {
    background-image: -webkit-image-set( url(toolbar_res/share_twitter_hover.png) 1x, url(toolbar_res/share_twitter_hover@2x.png) 2x);
}

.button-share-facebook {
    background-image: -webkit-image-set( url(toolbar_res/share_facebook.png) 1x, url(toolbar_res/share_facebook@2x.png) 2x);
}
.button-share-facebook:hover {
    background-image: -webkit-image-set( url(toolbar_res/share_facebook_hover.png) 1x, url(toolbar_res/share_facebook_hover@2x.png) 2x);
}

.button-share-vk {
    background-image: -webkit-image-set( url(toolbar_res/share_vk.png) 1x, url(toolbar_res/share_vk@2x.png) 2x);
}
.button-share-vk:hover {
    background-image: -webkit-image-set( url(toolbar_res/share_vk_hover.png) 1x, url(toolbar_res/share_vk_hover@2x.png) 2x);
}

.button-share-pinterest {
    background-image: -webkit-image-set( url(toolbar_res/share_pinterest.png) 1x, url(toolbar_res/share_pinterest@2x.png) 2x);
}
.button-share-pinterest:hover {
    background-image: -webkit-image-set( url(toolbar_res/share_pinterest_hover.png) 1x, url(toolbar_res/share_pinterest_hover@2x.png) 2x);
}