
.toolbar {
    position: absolute;
    z-index: 999;
    padding: 1px;
    border-radius: 3px;
}

.toolbar-horizontal {
    background: -webkit-gradient( linear, left top, left bottom, from(#fafbfb), to(#cbcec0));
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
}

.toolbar-vertical {
    background: -webkit-gradient(linear, left top, right top, from(#fafbfb), to(#cbcec0));
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(255,255,255,0.5);
}

.toolbar-horizontal .toolbar-button, .subtoolbar-horizontal .toolbar-button {
    float: left;
    width: 30px;
    height: 26px;
}

.toolbar-vertical .toolbar-button {
    width: 26px;
    height: 27px;
}

.toolbar-vertical .toolbar-button-owner-draw {
    width: 26px;
    height: 27px;
    display: block;
}

.toolbar-horizontal .toolbar-separator {
    width: 0;
    height: 22px;
    border-left: 1px solid #666666;
    margin-top: 2px;
    float: left;
}
.toolbar-vertical .toolbar-separator {
    height: 0;
    width: 22px;
    border-bottom: 1px solid #666666;
    margin-left: 2px;
}

.subtoolbar-horizontal {
    background-color: rgba(0,0,0,0.8);
}

.subtoolbar-horizontal.drop-down:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    border-style: solid;
    border-width: 5px;
}

.subtoolbar-horizontal.drop-up:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
}