name: Build

on:
  push:

jobs:
  build:
    name: Publish webextension
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      # Zip the entire repository
      - name: Zip repository
        run: zip -r extension.zip .

      # Upload the zip file as a build artifact
      - uses: actions/upload-artifact@v4
        with:
          name: webextension
          path: extension.zip

        
